:root{
    font-size: 18px;
}

.main-article__heading{
    position: relative;
    width: 50%;
    margin: auto;
    background-color: pink;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}
/* .main-article__heading::before{
    content: "";
    display: block;
    height: 20px;
    width: 20%;
    margin: auto;
    background-color: pink;
    font-size: 0.5em;
}
.main-article__heading::after{
    content: "!!!";
    display: block;
} */
.main-article__heading::before,
.main-article__heading::after{
/* content: url(./../images/pattern2.avif); */
    content: url(./../icons/white-balance-sunny.svg);
    display: inline-block;
    width: 40px;

    position: absolute;
    top: -4px;

    color: red;
}
.main-article__heading::before{
    right: 100%;
}
.main-article__heading::after{
    left: 100%;
}

.main-article__content::first-letter{
    padding: 0.1em;
    margin-left: 1em;

    background-color: yellow;
    color: magenta;

    font-size: 3rem;
    font-weight: 900;
    font-family: monospace;
}
.main-article__content::first-line{
    /* background-color: magenta; */
    /* background-image: url(./../images/pattern2.avif); */
    /* background-image: linear-gradient(to right, #b4e391 0%,#61c419 50%,#b4e391 100%,#b4e391 100%); */

    /* background-repeat: repeat;
    background-size: 30px 30px;
    background-position: left top; */
    color: yellow;

    text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px, 2px 3px 5px rgba(206,89,55,0);

    font-size: 1.8rem;
    line-height: 2em;
}
.main-article__content::selection{
    background-color: green;
    color: wheat;  
}